.lab-one-page{
   min-height: 100vh;
   background-color: #48426D;
}

.lab-one-content{
    width: 74%;
    float: right;
    display: flex;
    flex-direction: column;
}

/*HEADER*/
.lab-one-header{
    display: flex;
}