.login-page{
    background-color: #48426D;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.login-content{
    background-color: #312C51;
    width: 50%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 8px;
}

.main-logo{
    height: 200px;
}

.login-content h1 {
    color: #F0C38E;
    align-items: center;
}


.login-username, .login-password{
    display: flex;
    width: 400px;  
    height: 55px; 
}

.username-icon, .password-icon{
    width: 60px;
    height: 60px;
    background-color: #4B4673;
    padding: 0px;
    object-fit: contain;


}

.username-input, .password-input{
    flex:1;
    height: 60px;
    border: none;
    object-fit: contain;
    padding: 0 15px;
    font-size: 16px;
    background-color: #e1defe16;
    color: #F1AA9B;
}

.username-input::placeholder{
    color: white;
;
}

.password-input::placeholder{
    color: white;
}

button{
    margin-top: 20px;
    width: 220px;
    height: 55px;
    background-color: #4B4673;
    color: #F0C38E;
    font-size: 0.9rem;
    border-color: #312C51;
    border-radius: 12px;
    cursor: pointer;
}