/*Browser spacing*/
body, html {
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
}

.onboarding-page {
    background-color: #48426D;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.onboarding-content {
    background-color: #312C51;
    display: flex;
    flex-direction: column;

    width: 90%;
    max-width: 1200px;

    padding: 80px 0 80px 0;
}

.onboarding-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 180px;
    transform: scale(2.5);
    padding: 0 0 20px 0;
}

.onboarding-icons {
    font-size: 1.0rem;
    margin: 0 0 20px 0;
}

.onboarding-icons h1, .onboarding-icons p {
    margin: 9px;
}

.onboarding-icons h1{
    color: #F0C38E;
}

.onboarding-icons p{
    color: #F1AA9B;
}


.onboarding-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.onboarding-login{
    border-radius: 5px;
    border-color:#312C51;
    background-color: #48426D;
    color: #F0C38E;
    padding: 10px 32px 10px 32px;

}

.onboarding-signup{
    border-radius: 5px;
    border-color:#48426D;
    background-color: #F1AA9B;
    color:#312C51;
    padding: 10px 25px 10px 25px;
}
